<div class="row message {{if message.read "read" "unread"}} {{if message.selected "selected" ""}} {{if message.deleted 'hidden' ''}} ">
  <div class="col-xs-1">
    <div class="row">
      <div class="col-xs-2">
        <input class="checkbox" type="checkbox" onchange={{action "toggleCheck"}} checked={{if message.selected 'checked' ''}}/>
      </div>
      <div class="col-xs-2">
        <i class="star star fa fa-star{{if message.starred "" "-o"}}" {{action "toggleStar"}} ></i>
      </div>
    </div>
  </div>
  <div class="col-xs-11" {{action "toggleMessage"}}>
    {{#each message.labels key="@index" as |label|}}
      <span class="label label-warning">{{label}}</span>
    {{/each}}
    <a href="#">
      {{message.subject}}
    </a>
  </div>
</div>
{{#if message.expanded}}
{{message-expanded}}
{{/if}}
